<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="middle-molecule-container vapor-theme">
    <!-- Votre code navbar ici -->
    <%= link_to "Eventbrute™", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= render 'atomic-design/navbar/nav-link-home' %>
        <%= render 'atomic-design/navbar/nav-link-about' %>
        <%= render 'atomic-design/navbar/nav-link-contact' %>
        <%= render 'atomic-design/navbar/nav-link-events-index' %>
        <%= render 'atomic-design/navbar/nav-link-events-new' %>
        <li class="nav-item">
          <%= link_to 'Molécules', molecules_path, class: 'nav-link' %>
        </li>
      </ul>
      <% if user_signed_in? %>
        <span class="navbar-text">
          <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, confirm: "Êtes-vous sûr de vouloir vous déconnecter ?" }, class: "nav-link" %>
        </span>
      <% else %>
        <span class="navbar-text">
          <%= link_to 'Connexion', new_user_session_path, class: "nav-link" %>
          <%= link_to 'Inscription', new_user_registration_path, class: "nav-link" %>
        </span>
      <% end %>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to "Eventbrute™", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-0">
        <%= render 'atomic-design/navbar/nav-link-home' %>
        <%= render 'atomic-design/navbar/nav-link-about' %>
        <%= render 'atomic-design/navbar/nav-link-contact' %>
        <%= render 'atomic-design/navbar/nav-link-events-index' %>
        <%= render 'atomic-design/navbar/nav-link-events-new' %>
        <li class="nav-item">
          <%= link_to 'Molécules', molecules_path, class: 'nav-link' %>
        </li>
      </ul>
      <div class="mx-auto">
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <% if user_signed_in? %>
        <span class="navbar-text">
          <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, confirm: "Êtes-vous sûr de vouloir vous déconnecter ?" }, class: "nav-link" %>
        </span>
      <% else %>
        <span class="navbar-text">
          <%= link_to 'Connexion', new_user_session_path, class: "nav-link" %>
          <%= link_to 'Inscription', new_user_registration_path, class: "nav-link" %>
        </span>
      <% end %>
    </div>
  </div>
</nav>
